/* TO DO CSS */
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
}
button{
    font-size: 1.7rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.add-button{
    margin-top: 20px;
    background-color: rgb(140, 184, 74);
}
.add-button:hover{
    background-color: #0056b3;
}
.delete-button{
    background-color: rgb(255, 0, 0);
}
.delete-button:hover{
    background-color: rgb(200, 0, 0);
}
.move-button{
    background-color: rgb(255, 165, 0);
}
button.move-button:hover{
    background-color: rgb(200, 130, 0);
}

input[type="text"]{
    width: 300px;
    padding: 10px;
    font-size: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    color: gray;
}
ol{
    padding: 0;

}
li{
    list-style: none;
    margin: 10px 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

}
li:hover{
    background-color: #e9ecef;
}
.text{
    flex-grow: 1;
    margin-right: 10px;
    color: black;
    font-weight: bold;

}
.delete-button, .move-button{
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 1.7rem;
    border-radius: 5px;
    color: white;
}
body{
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}


/* Digital Clock CSS */
body{
background-image: url(./assets/deer.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
margin: 0;
color: white;
font-family: 'Courier New', Courier, monospace;
display: flex;
justify-content: center;
align-items: center;
}
.clock-container{
backdrop-filter: blur(10px);
width: 100%;
padding: 10px 0;
}
.clock{
  color: white;
  font-size: 6em;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  text-align: center;

}


/* Stop Watch CSS */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}
.stopwatch{
 display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
    padding: 30px;
}
.display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(34, 51, 51);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.546);
    margin-bottom: 25px;
}
.control button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
cursor: pointer;
color: white;
transition: background-color 0.5 ease;
}
.start-button{
    background-color: greenyellow;
}
.start-button:hover{
   
     background-color: rgb(106, 169, 12);
}
.stop-button{
    background-color: orangered;
}
.stop-button:hover{
  background-color: rgb(134, 45, 13);
}
.reset-button{
    background-color: blue;
}
.reset-button:hover{
  background-color: rgb(8, 8, 97);
}

body{
background-image: url(./assets/deer.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
margin: 0;
color: white;
font-family: 'Courier New', Courier, monospace;
display: flex;
justify-content: center;
align-items: center;
}